<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SummApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Summ">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.entry.QuickEntryActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Summ.Dialog"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".tile.QuickEntryTileService"
            android:exported="true"
            android:icon="@drawable/ic_wallet_qs"
            android:description="@string/tile_subtitle"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".widget.QuickAccessWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_quick_access_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_access_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.SpendingSummaryWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_spending_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/spending_summary_widget_info" />
        </receiver>

    </application>

</manifest>
